{% extends "base.html" %}

{% block content %}

    <h1 class="uk-heading-line uk-text-center"><span>{{ title }}</span></h1>
    {% if current_user.is_authenticated %}
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">{{ current_user.name }}</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/download">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: download"></span>
                            Скачать задание
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if not team.task_done %}
            {% if team.timer_started %}
                <div class="timer uk-text-center uk-margin-top">
                    <div class="timer_items uk-heading-large uk-text-center">
                        <span class="timer_item timer_hours">00</span>
                        <span class="timer_item timer_minutes">00</span>
                        <span class="timer_item timer_seconds">00</span>
                    </div>
                </div>

                {#формы отправки заданий#}
                <div class="uk-position-bottom-center uk-align-center">
                    <form name="task1" method="post" class="uk-margin">
                        {{ task1.csrf_token }}
                        {{ task1.hidden_tag() }}
                        <div class="uk-margin">
                            {{ task1.answer(class="uk-input uk-form-width-medium", type="text", placeholder="Ответ 1 блока") }}
                            {{ task1.submit(class="uk-button uk-button-primary") }}
                        </div>
                    </form>
                    <form name="task2" method="post" class="uk-margin">
                        {{ task2.csrf_token }}
                        {{ task2.hidden_tag() }}
                        <div class="uk-margin">
                            {{ task2.answer(class="uk-input uk-form-width-medium", type="text", placeholder="Ответ 2 блока") }}
                            {{ task2.submit(class="uk-button uk-button-primary") }}
                        </div>
                    </form>
                    <form name="task3" method="post" class="uk-margin">
                        {{ task3.csrf_token }}
                        {{ task3.hidden_tag() }}
                        <div class="uk-margin">
                            {{ task3.answer(class="uk-input uk-form-width-medium", type="text", placeholder="Ответ 3 блока") }}
                            {{ task3.submit(class="uk-button uk-button-primary") }}
                        </div>
                    </form>
                    <form name="task4" method="post" class="uk-margin">
                        {{ task4.csrf_token }}
                        {{ task4.hidden_tag() }}
                        <div class="uk-margin">
                            {{ task4.answer(class="uk-input uk-form-width-medium", type="text", placeholder="Ответ 4 блока") }}
                            {{ task4.submit(class="uk-button uk-button-primary") }}
                        </div>
                    </form>
                </div>
            {% else %}
                <h1 class="uk-heading-large uk-text-center message">Время вышло.</h1>
            {% endif %}
        {% else %}
            <h1 class="uk-heading-large uk-text-center message">Время вышло. Задание выполнено.</h1>
        {% endif %}
    {% else %}
        <h2 class="uk-heading-line uk-text-center"><span><a href="/">Войдите в аккаунт</a></span></h2>
    {% endif %}
    {% if message %}
        {% if 'принят' in message %}
            <div class="uk-alert-success uk-align-center" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p class="uk-text-center">{{ message }}</p>
        </div>
        {% else %}
        <div class="uk-alert-danger uk-align-center" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p class="uk-text-center">{{ message }}</p>
        </div>
         {% endif %}
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // конечная дата
            const deadline = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(),
                {{ team.deadline[3] }}, {{ team.deadline[4] }}, {{ team.deadline[5] }});

            // id таймера
            let timerId = null;

            // склонение числительных
            function declensionNum(num, words) {
                return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
            }

            // вычисляем разницу дат и устанавливаем оставшееся времени в качестве содержимого элементов
            function countdownTimer() {
                const diff = deadline - new Date();
                if (diff <= 0) {
                    clearInterval(timerId);
                    stopRequest();
                    document.getElementById('send_form').style.display = 'none';
                    document.getElementsByClassName('timer')[0].style.display = 'none';
                    var h = document.createElement('h1');
                    h.className = 'uk-heading-large uk-text-center';
                    h.innerHTML = 'Время истекло';
                    document.body.appendChild(h);
                }
                const hours = diff > 0 ? Math.floor(diff / 1000 / 60 / 60) % 24 : 0;
                const minutes = diff > 0 ? Math.floor(diff / 1000 / 60) % 60 : 0;
                const seconds = diff > 0 ? Math.floor(diff / 1000) % 60 : 0;
                $hours.textContent = hours < 10 ? '0' + hours : hours;
                $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
                $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;
                $hours.dataset.title = declensionNum(hours, ['час', 'часа', 'часов']);
                $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
                $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);
            }

            // отправляем на сервер запрос на выключение таймера
            function stopRequest() {
                const request = new XMLHttpRequest();
                request.open('GET', '/stop_time', true);
                request.send()
            }

            // получаем элементы, содержащие компоненты даты
            const $hours = document.querySelector('.timer_hours');
            const $minutes = document.querySelector('.timer_minutes');
            const $seconds = document.querySelector('.timer_seconds');
            // вызываем функцию countdownTimer
            countdownTimer();
            // вызываем функцию countdownTimer каждую секунду
            timerId = setInterval(countdownTimer, 1000);

            // отправка задания из поля
        });
    </script>
{% endblock %}